# Fichiers de build
.next/
out/
dist/

# Dépendances
node_modules/

# Variables d’environnement
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers système
.DS_Store
Thumbs.db

# IDE / éditeurs
.vscode/
.idea/
*.swp

# Supabase config locale
.supabase/
