@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu peux ajouter des styles globaux classiques ici si tu veux */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb; /* gray-50 */
  color: #1f2937; /* gray-800 */
}
